.body {
    background: #424250 url("../images/dark-kashi.gif") repeat;
    color: #FFFFFF;
}

.container {
    padding: 10px 70px 10px 70px;
}

.header1 {
    margin-top: 10px !important;
    text-align: center;
    font-size: 50px;
}

.title {
    background: #0B0B0D;
}

/*TODO remove image when you want to add backend - just use random gradient colored images*/
.event-title {
    background: url("../images/events/PyTorch_Blog-Post_Hero.png");
    background-size: 100% 100%;
}

.event-lecture {
    padding: 10px 5px 35px 5px;
    background: #0B0B0D;
}

.lecture-list {
    color: #878686;
    text-align: center;
    background: #0A0A0A;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.lecture-card {
    display: flex;
    flex-flow: row;
    padding: 5px;
    color: #878686;
    margin: 20px 5px;
}

.lecture-card-desc {
    height: auto;
    max-width: 600px;
    max-height: 480px;
    display: inline;
    padding: 20px;
    text-align: center;
}

.lecture-card-image {
    width: 100%;
    height: auto;
    max-height: 280px;
    max-width: 280px;
    min-width: 190px;
    min-height: 190px;
    border-radius: 50%;
}

.lecture-card-image-container {

}

.lecture-card-desc-container {
    padding-left: 50px;
}

.events {
    background: #0B0B0D;
}

.intro {
    padding: 10px 5px 35px 5px;
    background: #0B0B0D;
}

.support {
    padding: 10px 5px 35px 5px;
    background: #0B0B0D;
}

.support-list {
    color: #878686;
    text-align: center;
    background: #0A0A0A;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.support-card {
    max-width: 150px;
    text-align: center;
    font-weight: bolder;
    padding: 20px;
    margin: 10px auto;
    display: inline-block;
}

.support-card ul, a {
    list-style-type: none;
    color: unset;
    text-decoration: none;
}

.unordered-list-item {
    padding: 3px 0 3px 0;
}

.event-card {
    display: inline-flex;
    flex-flow: column;
    padding: 5px;
    margin: 5px;
}

.events-list {
    color: #878686;
    text-align: center;
    background: #0A0A0A;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
}

.service-list {
    color: #878686;
    text-align: center;
    background: #0A0A0A;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
}

.events-list a {
    color: unset;
    text-decoration: none;
}

.event-card {
    display: inline-flex;
    flex-flow: column;
    padding: 5px;
    margin: 5px;
}

.service-card {
    display: flex;
    flex-flow: row;
    padding: 5px;
    margin: 20px 5px;
}

.service-card-reverse {
    flex-flow: row-reverse !important;
}

.event-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(89, 89, 89, 0.19);
    color: darkorange;
    animation-name: event-card-hover;
    animation-duration: 500ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/*TODO animation is not working*/
@keyframes event-card-hover {
    from {
        top: 0px;
    }
    to {
        top: 10px;
    }
}

.event-card-image {
    width: 100%;
    height: auto;
    max-width: 320px;
    max-height: 320px;
    display: inline;
}

.service-card-image {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 600px;
    min-width: 250px;
}

.service-card-desc {
    height: auto;
    max-width: 600px;
    max-height: 480px;
    display: inline;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    position: relative;
    top: 80px;

}

.title-header {
    color: #d0d0d0;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

.title-header-desc {
    max-width: 70%;
    margin: 0 auto;
}

.title-statistics {
    color: #878686;
    position: relative;
    top: 70px !important;
    text-align: center;
    background: #0A0A0A;
    width: 80%;
    margin: 0 auto;
}

.statistic-card {
    max-width: 150px;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding: 20px;
    margin: 10px auto;
    display: inline-block;
    vertical-align: top;
}

.big-num {
    font-size: 30px;
    color: #a6a5a5;
}


.contact-header {
    text-align: left;
    justify-content: left;
}

.header-name {
    padding: 10px 400px 0 400px;
    text-align: center;
}

.header-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
}

.border-image {
    border: 5px outset #FFFFFF;
}

.content {
    margin-top: 100px;
    height: fit-content;
    display: block;
    padding-top: 10px;
}

.not-found {
    height: auto !important;
    margin: auto;
    text-align: center;
    display: block;
}

.profile-image-nav {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    vertical-align: middle;
}

.profile-image-nav-container {
    display: inline;
    float: right;

}


.content-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.content-item {
    padding: 25px 10px 25px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

.content-body-list {
    display: block;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
}

.strong {
    padding: 20px 60px 20px 20px;
}

.text-item {

}

.flex-wrap-off {
    flex-wrap: unset !important;
}

.text-item {
    text-align: left !important;
    padding: 20px 20px 20px 20px;
}

.form {
    color: #d0d0d0;
    border-radius: 5px;
    background-color: #303230;
    padding: 20px;
    width: 70%;
    margin: auto;
}

.form-item {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: grid;
    border: 1px solid #002c2c;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: unset;
}

.radio-label {
    display: block;
    position: relative;
    z-index: 0;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}

.radio-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-label:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-label input:checked ~ .checkmark {
    background-color: #15609c;
}

.radio-label input:checked ~ .checkmark:after {
    display: block;
}

.radio-label .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

::placeholder {
    color: #878686;
}

.form-submit {
    width: 100%;
    background-color: #0e4913;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 120px;
}

.inbox {
    padding: 10px 5px 35px 5px;
    background: #0B0B0D;
    width: 75% !important;
    margin: 0 auto;
}

.inbox-button {
    width: 100%;
    background-color: #15609c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 180px;
}

.inbox-list {
    color: #878686;
    text-align: center;
    background: #0A0A0A;
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

.inbox-card {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
}

.custom-file-input {
    background: transparent;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Change';
    color: #d0d0d0;
    display: inline-block;
    background: #08243a;
    border-radius: 3px;
    padding: 5px 8px;
    cursor: pointer;
    font-weight: 700;
    max-width: 80px;
    font-size: 10pt;
}

.custom-file-input:focus {
    border: none;
    outline: none;
}





.form-upload {
    width: 100%;
    background-color: #0e4913;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 120px;
}

.signup {
    margin-top: 0px !important;
}

input.form-submit:hover {
    background-color: #06630a;
}

.content-item-card {
    background-color: rgba(8, 66, 38, 0.8);
    width: 300px;
    margin: 10px;
}

.content-item-card2 {
    background-color: rgba(41, 2, 14, 0.8);
    margin: 10px;
}

.separator {
    height: 6px;
    background-color: #FFFFFF;
    width: 50px;
    display: block;
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 40px;
}

.copyright {
    height: unset;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 10px;
<!-- Not-filling-entire-page -->

}

.about {
    height: unset;
    padding-bottom: 30px;
    justify-content: unset;
}

.about p {
    padding-left: 20px;
}

.education {
    height: unset;
    padding-bottom: 30px;
    align-items: unset;
    justify-content: unset;
}

.unordered-list-item {
    padding: 5px;
}

.image-preview {
    max-width: 120px;
    max-height: 120px;

    display: inline;
}


.menu {
    position: fixed;
    z-index: 1;
    width: 88%;
    padding: 0;
    margin: 0;
}

.menu-list {
    margin: 0;
    padding: 10px 0 10px 0;
    list-style-type: none;
    background-color: #5f070c;
    height: 45px;
}

.menu-list-item {
    display: inline;
    width: 60px;
    font-size: 24px;
    padding: 10px;
}

.menu-list-item a {
    text-decoration: none;
    padding: 15px 16px 14px 16px;
    color: #ffff65;
}

.menu-list-item a:hover {
    color: white;
}

.menu-title {
    font-size: 29px;
    font-weight: bold;
    padding-right: 50px;
}

.menu-title a {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}


.social {
    position: fixed;
    right: 40px;
    top: 30%;
}

@media screen and (max-width: 800px) {
    .container {
        padding: 7px;
    }

    .menu-title {
        padding-right: 0;
    }

    .menu-list-item {
        padding: 0;
    }

    .menu {
        width: 95% !important;
    }

    .menu-list-item {
        font-size: unset;
    }

    .menu-title {
        font-size: 24px;
    }

    .service-card-desc {
        top: 25px !important;
    }

    .inbox-list {
        flex-flow: column;
    }

}

@media screen and (max-width: 1024px) {
    .menu {
        width: 80%;
    }

    .service-card-desc {
        font-size: 18px;
        top: 65px;
    }

}

@media screen and (max-width: 600px) {
    .service-card {
        flex-flow: column;
    }

    .lecture-card {
        flex-flow: column;
    }

    .lecture-card-image {
        max-width: 190px;
        max-height: 190px;
    }

    .lecture-card-desc-container {
        padding-left: unset;
    }

    .service-card-reverse {
        flex-flow: column !important;
    }

}